<template>
  <q-page class="flex flex-center">
  	<q-list bordered>
  		<q-item
  			v-for="item in lists"
  			:key="item.id"
  			v-ripple>
  			<q-item-section>
  				<q-item-label>Name: {{ item.name }}</q-item-label>
  			</q-item-section>
  		</q-item>
  	</q-list>

<!--    	<q-list bordered>
  		<q-item
  			v-for="(list, key) in lists"
  			:key="key"
  			v-ripple>
  			<q-item-section>
  				<q-item-label>Name: {{ list.name }}</q-item-label>
  			</q-item-section>
  		</q-item>
  	</q-list> -->

  </q-page>
</template>

<script>
	import { mapGetters } from 'vuex'

export default {
	computed: {
		...mapGetters('lists', ['lists'])
	}
}
</script>
