<template>
	<form @submit.prevent="submitForm" >

	  <div class="q-pa-md">
    <div class="q-gutter-md" style="max-width: 300px">
		<q-input v-model="formData.email" outlined class="col" label="Email" stack-label :rules="[ val => isValidEmailAddress(val) || 'Please enter a valid email address. ']" lazy-rules ref="email"/>
    </div>
  
		<div class="q-gutter-md" style="max-width: 300px">
			<q-input v-model="formData.password" outlined class="col" label="Password" stack-label :rules="[ val => val.length >= 6 || 'Please enter at least 6 characters']" lazy-rules ref="password"/>
		</div>
		<div>
			<q-btn label="Login" type="submit" color="primary"/>
		</div>
	</div>
</div>
	</form>
</template>

<script>
	import { mapActions } from 'vuex'

export default {
	props: ['tab'],
	data() {
		return {
			formData: {
				email: '',
				password: ''
			}
		}
	},
  methods: {
    ...mapActions('auth', ['loginUser']),
    isValidEmailAddress (email) {
      const re = /^(([^<>()\]\\.,;:\s@"]+(\.[^<>()\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
      return re.test(String(email).toLowerCase())
    },
    submitForm () {
      this.$refs.email.validate()
      this.$refs.password.validate()
      if (!this.$refs.email.hasError && !this.$refs.password.hasError) {
      	this.loginUser(this.formData)
        }
      }
    }
  }
</script>
