<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />

        <q-toolbar-title>
          Epic list gathering system
        </q-toolbar-title>


        <div v-if="loggedIn" @click="logoutUser">Log out</div>

      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-grey-1"
    >
      <q-list>
        <q-item-label header>Navigation</q-item-label>

        <q-item to="/" clickable>
          <q-item-section avatar>
            <q-icon name="list" />
          </q-item-section>
        <q-item-label>Home</q-item-label>
      </q-item>

        <q-item to="/register" clickable>
          <q-item-section avatar>
            <q-icon name="list" />
          </q-item-section>
        <q-item-label>Register</q-item-label>
      </q-item>

        <q-item to="/login" clickable>
          <q-item-section avatar>
            <q-icon name="list" />
          </q-item-section>
        <q-item-label>Login</q-item-label>
      </q-item>

        <q-item to="/list" clickable>
          <q-item-section avatar>
            <q-icon name="list" />
          </q-item-section>
        <q-item-label>List</q-item-label>
      </q-item>

      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import EssentialLink from 'components/EssentialLink.vue'
import { mapState, mapActions } from 'vuex'
import { openURL } from 'quasar'

const linksData = [
  {
    title: 'Login',
    caption: 'quasar.dev',
    icon: 'school',
    link: ''
  },
  {
    title: 'Register',
    caption: 'github.com/quasarframework',
    icon: 'code',
    link: 'https://github.com/quasarframework'
  }
];

export default {
  name: 'MainLayout',
  components: { EssentialLink },
  data () {
    return {
      leftDrawerOpen: false,
      essentialLinks: linksData
    }
  },
  computed: {
    ...mapState('auth', ['loggedIn'])
  },
  methods: {
    ...mapActions('auth', ['logoutUser']),
    openURL
  }
}
</script>
